<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">

    <link rel="icon" href="../assets/icon.ico" type="image/icon type">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="..\styles\style.css">
    <title>flashcards</title>

    <script src="..\app\env.js" ></script>
    <script src="..\app\cookie.js" ></script>
    <script src="..\app\utilities.js" ></script>
    <script src="..\app\request_handler.js" ></script>
	<script src="..\app\authentication_handler.js" ></script>
    <script src="..\app\display_handler.js" ></script>



    <script>

        Utilities.start_connection_checker()
        
        let request_handler = new Request_handler
        let authentication_handler = new Authentication_handler
        let display_handler = new Display_handler

        const profile_pic_url = request_handler.get_profile_pic()

        request_handler.get_all_cards()

        Cookie.setCookie('set_default_cover', 'void')


        
    </script>

</head>
<body>

    <div id="connection_lost">
            <button class="connection_lost" style="cursor: default;"> <p style='font-weight: bold;'>server connection lost</p><p>trying to reconnect... </p></button>
    </div>

    <div style="margin: 0 auto; width: 500px;">
        <div id="full_header"> </div>
    </div>

    

    <div class="container">
        
   
        <br><br>

        
        <p>change cover</p>
        <input style="width: 220px;" id="imginput" type="file" name="myImage" accept="image/png, image/gif, image/jpeg" />
        <p onclick="Cookie.setCookie('set_default_cover', 'true'); document.getElementById(`imginput`).style.visibility = `hidden`; this.style.color = `green`" style="margin-left: 20px; display: inline-block; cursor: pointer;"> set default </p><br><br>
        <form id="edit_deck_form" autocomplete="off">
          <p>change title</p>
          <input type="text" id="name" name="name" maxlength="100"><br>
          <br><br>
        </form>
        <div id="profile_pic_preview_div"></div>
        <br>
        <button class="button_white" onclick="request_handler.edit_deck(document.getElementById('edit_deck_form'))" style="margin-right: 10px;"> apply changes </button>
        <button class="button_white" id="delete_button" onclick="request_handler.delete_deck()" style="margin-left: 10px;"> delete deck </button>

        <br><br><br><br>

        <div id="no_cards_error"><p>all cards</p></div>
        <br>

        <div id="cards_div">
            


        </div>

        


        <br><br>

    </div>

    

</body>
</html>